extends layout-m

block content
	link(rel='stylesheet',href='/css/chat-m.css')
	script(type='text/javascript', src='/socket.io/socket.io.js')
	script(type='text/javascript', src='/js/iscroll-lite.js')
	script(type='text/javascript', src='/js/chat-m.js')
	script(type='text/javascript', src='/js/socket.js')
	div#chat-frame
		div#chat-top
		div#chat-bottom
			div#chat-editor
				textarea#chat-editor-content
			div#chat-btn-send.btn 发送
		div#chat-right
			div#chat-user-toggle
				div#chat-user-toggle-btn
			div#chat-user-list
				ul#scroller