doctype 5
html
	head
		title Socket.io Test
		link(rel='stylesheet',href='/css/common.css')
		script(type='text/javascript', src='/js/jquery-1.9.1.js')
		script(type='text/javascript', src='/js/jquery.cookie.js')
	body
		block content